html{
    font-size:15px;
}

body{
    background-color: rgb(255, 247, 238);
}

h1{
    font-size: 2rem;
    text-align: center;
    font-family:Abril Fatface, serif;
}

h2{
    background-color: blanchedalmond;
    padding:10px;
    border-bottom:2px solid gray;
}

.days{
    padding:5px;
    margin:10px;
    background-color:antiquewhite
}

li:hover{
    background-color: rgb(20, 88, 66);
}
a {
    text-decoration: solid;
    color:black;
}
a:hover{
    color:rgb(255, 247, 238);
}


/* styling for the journal pages */

#pagesHeader{
    font-size: 2.5rem;
    padding:15px;
    background-color: aquamarine;
    border-bottom: 5px solid black;
    border-radius: 0 0 10px 10px;
}

#pageNav{
    color:black;
}

#pageNav:hover{
    color:red;
}